[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = wrynose
[submodule "meta-qcom"]
	path = meta-qcom
	url = https://github.com/qualcomm-linux/meta-qcom.git
	branch = wrynose
[submodule "meta-8dev"]
	path = meta-8dev
	url = https://github.com/8devices/meta-8dev.git
	branch = wrynose
[submodule "meta-swupdate"]
	path = meta-swupdate
	url = https://github.com/sbabic/meta-swupdate.git
	branch = wrynose
[submodule "meta-yocto"]
	path = meta-yocto
	url = https://github.com/yoctoproject/meta-yocto.git
	branch = wrynose
[submodule "openembedded-core"]
	path = openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
	branch = wrynose
[submodule "bitbake"]
	path = bitbake
	url = https://github.com/openembedded/bitbake.git
	branch = 2.18
[submodule "meta-lts-mixins"]
	path = meta-lts-mixins
	url = https://git.yoctoproject.org/meta-lts-mixins
	branch = wrynose/linux-firmware
